$background: #eeeeee;
$text: #253031;
$hover: #b4ddff;
$inverseText: #eeeeee;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");

html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
}
* {
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.App {
  width: 80rem;
  margin-top: 2rem;
}
.header {
  width: 100%;
  font-weight: 300;
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.subheader {
  font-weight: 300;
  font-size: 1.8rem;
  white-space: nowrap;
  margin: 0 1rem;
}

hr {
  width: 100%;
  border-radius: 10rem;
  border: 0.2rem solid $text;
  background-color: $text;
  margin: 1rem 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.title {
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
}

.wx {
  :hover {
    color: $hover;
  }
  height: 1rem;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  .spacer {
    margin: 0 2rem;
  }
  * {
    font-weight: 300;
    font-size: 1.4rem;
  }
}

nav {
  color: $text;
  font-size: 2.8rem;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  background-color: $text;
  overflow: hidden;
  transition: 0.1s linear;
  height: 100%;
  padding-top: 6rem;
  justify-content: start;
  * {
    color: $inverseText;
    text-decoration: none;
  }
  a {
    margin: 2rem 0;
  }
}

.pointer {
  cursor: pointer;
}
